{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "linebreak-style": 0,
    "no-useless-escape": 0,
    "eqeqeq": "off",
    "no-unused-vars": "off",
    "no-console":"off",
    "func-names":"off"
  }
}